#tbl_buttons{
width:200px;
border: 1px solid black;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.btn-style{
border : solid 0px #000000;
border-radius : 3px 3px 3px 3px;
font-size : 15px;
color : #ffffff;
padding : 13px 20px;
background-color: #545454;
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
}

.btn-style:hover {
background-color: green;
}
